<section>
  <form fxFlex ngForm fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-card fxFlex="500px" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <mat-card-title>Create your user</mat-card-title>

      <mat-form-field>
        <input matInput ngModel #username="ngModel" name="username" placeholder="Create user name" required>
        <mat-error *ngIf="username.hasError('required')">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput ngModel #email="ngModel" name="email" placeholder="Email" type="email" email required>
        <mat-error *ngIf="email.hasError('required')">This field is required</mat-error>
        <mat-error *ngIf="!email.hasError('required')">This field should be an email</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="Characters required">
        <input minlength="6" matInput ngModel #password="ngModel" name="password" type="password" password placeholder="Create a password"
          required>
        <mat-hint align="end">{{password.value?.length }}/6</mat-hint>
        <mat-error *ngIf="password.hasError('required')">This field is required</mat-error>
        <mat-error *ngIf="!password.hasError('required')">Required lenght 6 characters</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput ngModel #birthdate="ngModel" name="birthdate" type="text" placeholder="Birth Date" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" type="submit">Log in</button>
        <button mat-raised-button color="accent" type="reset">Clear fields</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
